{% extends 'base.html' %}
{% block title %}SHORTEST PATH{% endblock %}
{% block header_text %}welcome to shortest path page!{% endblock %}
{% block link %}
	<a href="/">
	<button>GO TO HOME PAGE</button>
	</a>
{% endblock %}
{% block form_action %}
\specify_number\shortest_path\
{% endblock %}
{% block js_src %}shortest_path.js{% endblock %}
{% block search_form %}
	<form  id="search">
		<label for="start_cv">开始节点：</label>
		<input type="text" name="start_cv" id="start_cv">
		<label for="end_cv">结束节点：</label>
		<input type="text" name="end_cv" id="end_cv">
		<input type="submit" value="搜索">
	</form>
{% endblock %}
{% block info %}<div><p class="length">最短路径长度:<span id="length"></span></p></div>{% endblock %}

